{% extends "base.html" %}
{% block title %} Активация {% endblock %}
{% block content %}
   <p class="first">Данная памятка поможет вам приступить к работе в компьютерной сети университета. Вам предоставляются следующие возможности:</p>
<ul>
<li>доступ в интернет
</li><li>электронная почта КГПУ
</li><li>база электронных учебных ресурсов
</li></ul>
<p>Сервисами КГПУ можно пользоваться с любого компьютера подключённого к сети интернет или локальной сети университета.</p>

<h2>Активация учётной записи</h2>
<p>Прежде всего вам <b>необходимо пройти активацию</b> Вашей учётной записи. Для этого необходимо зайти по адресу <a href="/activation">as.kspu.ru/activation</a>, заполнить все поля формы и нажать &lt;Активировать учётную запись&gt;.</p>
<p>В поле имя пользователя введите логин полученный вместе с этой памяткой или в деканате. Пароль Вы должны придумать сами.</p>
<p><b>Логин и пароль необходимо запомнить</b>. Вы будете использовать их для доступа к любому электронному сервису КГПУ.</p>

<h2>Электронная почта КГПУ</h2>
<p>Вам предоставляетя электронный почтовый ящик с адресом вида <b>логин@kspu.ru</b> (например h07ivanovii@kspu.ru). </p>
<p>Для доступа к электронной почте КГПУ зайдите на сайт <b>mail.kspu.ru</b>. Далее необходимо ввести Ваш логин и пароль.</p>
<p>Учебные ресурсы</p>
<p>Для доступа к базе зайдите на сайт <b>e.kspu.ru</b>. Далее необходимо ввести Ваш логин и пароль.</p>
<p>Поздравляем с поступлением и желаем успехов в учёбе!</p>
<p>Центр информационных технологий (ЦИТ) КГПУ им. В.П. Астафьева</p>

<p>По вопросам, не решенным в деканате, обращайтесь в каб. 2-33в главного корпуса или по т. 2171754</p>
{% endblock %}