{% extends "base.html" %}
{% block title %} Личный кабинет {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                <form action="/change_password" class="form-horizontal" method="post" role="form">
                    <hr/>
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-7">
                            <div style="font-size: x-large; color: red"> {{ message }} </div>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            <div id="text_smaller">Введите старый пароль</div>
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="id_password" type="password" required name="password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            <div id="text_smaller">Введите новый пароль</div>
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="id_password" type="password" minlength="6"
                                   pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20})"
                                   title="Пароль должен состоять из 6-20 символов, из них должна быть как минимум одна цифра, одна строчная и одна заглавная буква"
                                   required name="new_password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            <div id="text_smaller">Повторите новый пароль</div>
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" id="id_password" type="password" required name="repeat_new_password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Принять" class="btn btn-default"/>
                        </div>
                    </div>
                </form>
            </section>
        </div>

    </div>
{% endblock %}