{% extends "base.html" %}
{% block title %} Личный кабинет {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                <form action="" class="form-horizontal" method="post" role="form">
                    <hr/>
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-6 control-label">
                            <div style="font-size: x-large; color: red"> {{ message }} </div>
                        </label>
                        <label class="col-md-2 control-label" for="Password">
                            <div id="text_smaller">Введите пароль</div>
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" data-val="true"
                                   data-val-required="The Password field is required." id="Password" minlength="6"
                                   pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*[а-яА-Я]).{6,20})" name="new_password"
                                   title="Пароль должен состоять из 6-20 символов, из них должна быть как минимум одна цифра, одна строчная и одна заглавная буква"
                                   type="password"/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Password"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Принять" class="btn btn-default"/>
                        </div>
                    </div>
                </form>
            </section>
        </div>

    </div>
{% endblock %}